<header>
  <img src="img/ben-leeds-logo.png" alt="">
</header>
<div class="central">
  <div class="main-welcome">
    <div class="top-head">
      <p class="text-center font-weight-bold">Please enter bulidng info</p>
      <div class="rooms-input m-2">
      <input class="m-2" type="text" name="bulnum" placeholder="Building number" ng-model="apartmentInfo.buildingNum">
      <input class="m-2" type="text" name="bulapt" placeholder="Apartment number" ng-model="apartmentInfo.apartmentNum">
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <a href="#/rooms/:bathroom"><img class="img-fluid img-thumbnail" src="img/bath-48.png" alt="">
          <p class="subnames">Master Bathroom</p></a>
        </div>
        <div class="col-3">
          <a href="#/rooms/:bathroom1"><img class="img-fluid img-thumbnail" src="img/bath-1-48.png" alt="">
          <p class="subnames">Hallway Bathroom 1</p></a>
        </div>
        <div class="col-3">
          <a href="#/rooms/:bathroom2"><img class="img-fluid img-thumbnail" src="img/toilet-bowl-48.png" alt="">
          <p class="subnames">Hallway Bathroom 2</p></a>
        </div>
        <div class="col-3">
          <a href="#/rooms/:kitchen"><img class="img-fluid img-thumbnail" src="img/microwave-48.png" alt=""></a>
          <p class="subnames">Kitchen</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:living"><img class="img-fluid img-thumbnail" src="img/living-room-48.png" alt=""></a>
          <p class="subnames">Living room</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:bedroom"><img class="img-fluid img-thumbnail" src="img/sleeping-in-bed-48.png" alt=""></a>
          <p class="subnames">Master Bedroom</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:bedroom1"><img class="img-fluid img-thumbnail" src="img/movie-time-48.png" alt=""></a>
          <p class="subnames">Guest Bedroom</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:bedroom2"><img class="img-fluid img-thumbnail" src="img/insomnia-48.png" alt=""></a>
          <p class="subnames">Extra Bedroom</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:hallway"><img class="img-fluid img-thumbnail" src="img/corridor-48.png" alt=""></a>
          <p class="subnames">Hallway</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:laundry"><img class="img-fluid img-thumbnail" src="img/washing-machine-48.png" alt=""></a>
          <p class="subnames">Laundry</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:patio"><img class="img-fluid img-thumbnail" src="img/patio-48.png" alt=""></a>
          <p class="subnames">Patio</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:entrance"><img class="img-fluid img-thumbnail" src="img/door-48.png" alt=""></a>
          <p class="subnames">Entrance</p>
        </div>
        <div class="col-3">
        <a href="#/rooms/:balcony"><img class="img-fluid img-thumbnail" src="img/balcony-48.png" alt=""></a>
          <p class="subnames">Balcony</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:construction"><img class="img-fluid img-thumbnail" src="img/construction-48.png" alt=""></a>
          <p class="subnames">Contruction</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:dinning"><img class="img-fluid img-thumbnail" src="img/table-48.png" alt=""></a>
          <p class="subnames">Dinning area</p>
        </div>
        <div class="col-3">
          <a href="#/rooms/:other"><img class="img-fluid img-thumbnail" src="img/compose-48.png" alt=""></a>
          <p class="subnames">Other</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary center-block" name="completed" completed-btn>COMPLETED</button>
    </div>

  </div>
</div>
